<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="wrapper" :title="uchiha+' '+ 'siska'">
      <ul>
        <li v-for="(item, index) in list">index{{index}}: {{item}}</li>
      </ul>

      <ul>
        <li v-for="user in users">{{user.id}}: {{user.name}}</li>
      </ul>
    </div>

    <script>
      var app = new Vue({
        el: "#wrapper",
        data: {
          list: ["one", "two", "free"],
          users: [
            { id: 1, name: "Elizar" },
            { id: 2, name: "Potachok" },
            { id: 3, name: "JA-ja Bincks" },
          ],
        },
      });
    </script>
  </body>
</html>
